@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}

.shadow-right {
  box-shadow: 4px 0 6px rgba(0, 0, 0, 0.1); /* Atur ukuran dan warna shadow sesuai kebutuhan */
}

.shadow {
  box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.2);
}

/* Menghilangkan spinner di input number */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container-crop {
  position: relative;
  width: 500px;
  height: 400px;
  display: flex;
  justify-self: center;
}

.container-crop::before {
  position: absolute;
  width: 500px;
  height: 400px;
}

.container-crop img {
  width: 100%;
  min-height: 400px;
}

.slider {
  -webkit-appearance: none; /* Hapus gaya default browser */
  width: 70%; /* Sesuaikan lebar */
  height: 8px; /* Tinggi track */
  background: #ddd; /* Warna track */
  border-radius: 5px; /* Membulatkan track */
  outline: none; /* Hapus outline */
  opacity: 0.9; /* Transparansi */
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1; /* Transparansi saat hover */
}

/* Gaya thumb (tombol yang bisa digeser) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px; /* Lebar thumb */
  height: 15px; /* Tinggi thumb */
  border-radius: 50%; /* Membulatkan thumb */
  background: #6b7280; /* Warna thumb */
  cursor: pointer; /* Ubah kursor saat hover */
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #6b7280;
  cursor: pointer;
}

.main-w-header {
  height: calc(100vh - 57px);
}
